html,body, h1,h2,h3,h4,h5,h6,p,form {
  padding:0;
  margin:0;
}
body {
  font-size: 18px;
  font-family: helvetica, arial, sans-serif;
  color: #303030;
  background: #EEE;
}

hr {
  border:0;
  height: 0px;
  background: #FFF;
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #FFF;
}







.wrap-page {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  padding: 40px 0;
}
h1 {
  text-shadow: 0px 1px 0px #FFF;
  font-size: 26px;
}




.todo-controls {
  background: #CCC;
  position: relative;
  height: 82px;
}
.todo-controls .wrap-input {
  position: absolute;
  width: 100%;
  left: 20px;
  top: 20px;
}
.todo-controls .wrap-input .inner {
  padding-right: 150px;
}
.todo-controls input.add-text {
  width: 100%;
  padding: 8px 10px;
  font-size: 20px;
  border:0;
  outline: 0;
}
.todo-controls input.add-text:hover {
  box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);
}
.todo-controls input.add-text:focus {
  box-shadow: 0px 0px 5px rgba(0,0,0, 0.4);
}
.todo-controls .wrap-button {
  position: absolute;
  right: 20px;
  top:20px;
  width: 90px;
}
.todo-controls .wrap-button button {
  width: 90px;
  font-size: 18px;
  padding: 8px 10px;
  border:0;
  cursor: pointer;
  outline: 0;
  border-radius: 5px;
  text-shadow: 0px 1px 0px #FFF;
  font-weight: bold;
}
.todo-controls .wrap-button button:hover {
  box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);
}
.todo-controls .wrap-button button:focus {
  box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);
}


#todo_list ul, #todo_list ul li {
  margin:0;
  padding:0;
  list-style:none;
}
#todo_list {
  margin-top: 10px;
}
#todo_list ul li {
  margin-bottom: 1px;
  background: #FFF;
  position: relative;
  line-height: 1.3em;
}
#todo_list ul li .text {
  padding: 10px 60px 10px 10px;
}
#todo_list ul li .delete {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 10px;
  line-height: 20px;
  padding: 0px 10px;
  cursor:pointer;
  background: #F8F8F8;
  color: #AAA;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(0,0,0, 0.1);
  font-weight: bold;
}
#todo_list ul li .delete:hover {
  color: #303030;
  box-shadow: 0px 0px 3px rgba(0,0,0, 0.2);
}






























